In [ ]:
import pandas as pd
 
data = [1, 3, 5, 7, 9]
s = pd.Series(data)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
import pandas as pd
 
data = {
    'year': [2016, 2017, 2018],
    'GDP rate': [2.8, 3.1, 3.0],
    'GDP': ['1.637M', '1.73M', '1.83M']
}
 
df = pd.DataFrame(data)
print(df)

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [6]:
print(df['year']) #년도만 출력

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [12]:
print(df.year)   #이렇게 사용도 가능

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [11]:
df[df.year>2016] #년도가 2016보다 큰 것만 출력

   year  GDP rate    GDP
1  2017       3.1  1.73M
2  2018       3.0  1.83M

In [9]:
sum = df['GDP rate'].sum()   #GDP rate의 합
avg = df['GDP rate'].mean()  #GDP rate의 평균
print(sum, avg)

8.9 2.966666666666667

In [14]:
df.describe() #기본 통계치를 모두 표시

         year  GDP rate
count     3.0  3.000000
mean   2017.0  2.966667
std       1.0  0.152753
min    2016.0  2.800000
25%    2016.5  2.900000
50%    2017.0  3.000000
75%    2017.5  3.050000
max    2018.0  3.100000